.bp-messages-wrap.bm-initialized{
    display: none!important;
}

#btn-private-message{
    text-align: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    .btn__icon{
        font-size: .8rem;
    }   
}

.member-loop{
    .button-private-message{
        position: absolute;
        top: 1rem;
        right: 1rem;        
        opacity: .5;
    }

    &:hover{
        .button-private-message{
            opacity: 1;
        }
    }
}

.bm-login-form{
    border: 1px solid #e9ecef!important;
    .bm-login-text{
        text-align: center;
        text-transform: uppercase;
    }
}   

.bp-messages-wrap{

    --left-message-text-color: #fff;
    
    background: #fff;

    label{
        font-weight: bold;
        font-size: 1rem!important;    
    }

    img.avatar{
        border-radius: 50%!important;
    }

    .bpbm-empty-link{
        display: inline-block;
        font-weight: 400;
        line-height: 1.5;
        color: #fff;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        border: 1px solid #dc3545!important;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        border-radius: 35px!important;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        color: #fff;
        background-color: #dc3545!important;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        border-radius: 35px;
        outline: none;
        a{
            color: #fff!important;
        }    
    }    

    .bm-alert{
        padding: 1.5rem;

        p{
            font-size: 1rem;
        }

        button{
            border-radius: 35px!important;
            background: #dc3545!important;
        }

    }

    .chat-footer,
    .chat-header{       
        .thread-info{
            margin-left: 0.75rem;
            color: #666;
            padding: 0.75rem;

            .sub-name{
                color: #0dcaf0;
            }            
        }        
    } 

    .bm-message-info{
        .bm-time{
            font-size: .85rem!important;
            color: #aaa!important;
        } 
    }

    .bm-message-content-text{
        line-height: 1.5;
        color: #666;

        .url-wrap{
            border: 1px solid #aaa!important;
        }
    }

    .bpbm-chat-content{
        .bm-name a,
        .bm-name .user{
            font-size: .95rem!important;
            color: #0dcaf0 !important;
        }

        .bm-thread-add-participant-title{
            font-size: 1rem;
        }         

        .bm-name-moderator{
            margin-left: 1rem;
        }

        .bm-thread-settings{

            border-bottom: 1px solid #ddd;

            h4{
                display: none;
            }

            .bpbm-thread-option{
                font-size: 1rem;
                margin-bottom: 1rem;

                .bpbm-thread-option-toggle{
                    margin-bottom: .75rem;
                }
            }            
        }
    }
  
    .bm-messages-list{
        .bm-list{
            .bm-conversation-start{
                font-size: 1rem !important;
                opacity: .9;
            }
        }      
        &.bm-template-modern{

            .bm-messages-stack{
                &.incoming{
                    .bm-message-content{
                        background: #2275d7 !important;
                        color: #f9f9f9 !important;
                    }
                }          
            }
        }

        .bm-replied-message-text{
            font-size: .95rem;
        }
    }  

    .bm-reply{
        .bp-better-messages-restrict-send-message{
            font-size: 1rem;

            .bpbm-join-to-chat-button,
            .bpbm-pm-button{
                background: #ce1e1e;
                border-color: #ce1e1e;            
                color: #fff!important;
                border-radius: 35px;
                padding: 0.5rem 2rem;
                margin-top: 0.75rem;
                font-size: .9rem;
            }
        }
    }

    .threads-list{
        .bm-info{
            .name{
                font-size: 1rem !important;
                color: #222!important;
                margin-bottom: 0.5rem!important;
            }

            .name+h4{
                font-size: .9rem !important;
                margin-bottom: 0.5rem!important;
                line-height: 1.2!important;
            }
        }

        .thread{

            .bm-last-message-content,
            .time-wrapper{
                font-size: .9rem!important;
                font-style: italic;
                color: #aaa;
                line-height: 1.5;
            }

            .unread-count{
                background: #ce1212;
            }

        }    

        .bp-messages-active-thread{
            background: #e9ecef!important;
        }    
    }    

    .bm_user_selector__option{
        padding: 0.75rem!important;
    }

    .bm_user_selector__multi-value {
        padding: 0.4rem;
        border-radius: 35px;
    }    

    #bm-new-thread-title{
        font-size: 1rem;
        font-weight: bold;
        color: #212529!important;
    }  

    .bm_user_selector__menu div div {
        font-size: 1rem!important;
    }         

    .bulk-message{

        .box{
            margin-top: 1rem;
            padding: 1rem;
        }

        .progress{
            font-size: 1rem;
        }        

        button[type=submit]{
            background-color: #dc3545 !important;
            border-radius: 35px !important;
            border: 1px solid #dc3545 !important;
            padding: 0.375rem 0.75rem;              
        }        

        ul>li{
            font-size: 1rem;
            margin-bottom: 1rem;
        }
    }

    .reports{
        h3{
            font-family: 'Poppins', sans-serif;
            margin-bottom: 1rem;        
        }
    }

    .reports-list{
        font-size: 1rem;

        td,
        th{
            padding: .75rem!important;
        }

        .delete{
            font-size: 1.5rem!important;
            color: #f00e0e!important;
        }
    }
}

.comments-livechat-tabs{
    .dot{
        left: -15px;
        background: #ce1212;
    }

    .nav-link{
        outline: none;
        border-radius: 0;
        &.active{
            border-color: #dee2e6;
            border-bottom: 2px solid #ce1212;                
        }
    }
}